<ion-view view-title="Groups" class="foo">
  <ion-content>
    <ion-list>
            <ion-item ng-repeat="group in chats.users track by $index"
                    class="item-chat item-remove-animate item-avatar item-icon-right"
                    type="item-text-wrap"
                    href="#/tab/chats/{{ chats.data[$index]._id }}">
            <img src="images/team.png" alt="NO PIC">
            <!-- <img ng-src="{{ chat.picture }}"> -->
						<ul ng-repeat="member in group">
							<li>{{ member[0].name }}</li>
						</ul>
            <!-- <h2>{{ chat.name }}</h2>
            <p>{{ chat.lastMessage.text }}</p> -->
            <!-- <span class="last-message-timestamp">{{ chat.lastMessage.timestamp | calendar }}</span> -->
            <i class="icon ion-chevron-right icon-accessory"></i>
            <!-- TODO: Delete Button if we want it  -->
            <!-- <ion-option-button class="button-assertive" ng-click="chats.remove(chat)">
              Delete
            </ion-option-button> -->
          </ion-item>

        </ion-list>

  </ion-content>
</ion-view>
